In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from gensim.corpora.dictionary import Dictionary
from nltk import word_tokenize
%matplotlib inline

In [6]:
all_english_corpus = ["ausaid-3083.en", "bbc-468.en", "odb-9826.en", "SMERU-26870.en"]
all_indo_corpus = ["ausaid-3083.id", "bbc-468.id", "odb-9826.id", "SMERU-26870.id"]

In [11]:
concatenated_df = None

for itr in range(len(all_english_corpus)):
    english_corpus_name = all_english_corpus[itr]
    indo_corpus_name = all_indo_corpus[itr]
    
    eng_text_df, indo_text_df = None, None
    
    with open("./corpus/" + english_corpus_name) as fp:
        eng_text = fp.read()
        eng_text = eng_text.splitlines()
        eng_text_df = pd.DataFrame(eng_text)
        eng_text_df = eng_text_df.rename(columns={0:'English'})
        #print(eng_text_df.head())
        # df_eng_text = df_eng_text.rename(columns={0:'English'})
        
    with open("./corpus/" + indo_corpus_name) as fp:
        indo_text = fp.read()
        indo_text = indo_text.splitlines()
        indo_text_df = pd.DataFrame(indo_text)
        indo_text_df = indo_text_df.rename(columns={0:'Indonesian'})
        #print(indo_text_df.head())
        # df_eng_text = df_eng_text.rename(columns={0:'English'})   
        
    eng_text_df['English'] = eng_text_df['English'].apply(lambda x : x.lstrip())
    indo_text_df['Indonesian'] = indo_text_df['Indonesian'].apply(lambda x : x.lstrip())
    
    # Merge the English and Indo datasets
    df = pd.concat([eng_text_df, indo_text_df], axis=1)
    
    # merge the different datasets
    concatenated_df = pd.concat([concatenated_df, df], axis = 0)
    #print(df.head())

In [12]:
concatenated_df.head()

,English,Indonesian
0,Introduction: 2007 year in review,Pendahuluan: Tahun peninjauan 2007
1,2007 was another significant year for the Aust...,2007 kembali menjadi tahun yang signifikan bag...
2,Reconstruction after the 2004 Boxing Day tsuna...,Rekonstruksi yang dilakukan setelah terjadinya...
3,This work was the centrepiece of the $1 billio...,Ini merupakan pekerjaan inti dari Kemitraan Au...
4,AIPRD also includes large-scale social and eco...,AIPRD juga mencakup program pengembangan ekono...

In [13]:
concatenated_df.shape

(40369, 2)

In [14]:
concatenated_df.tail()

,English,Indonesian
26961,Some of the respondents gave more than one sug...,Beberapa di antara responden memberi saran leb...
26962,Table 5 shows the kinds of suggestions conveye...,Jenis saran yang disampaikan responden berdasa...
26963,Some of the suggestions given by the responden...,Beberapa saran yang disampaikan oleh responden...
26964,"However, the suggestion regarding the updating...",Akan tetapi saran tentang updating yang disamp...
26965,The next available data on the population cens...,"Data sensus penduduk, misalnya, baru dapat dip..."

In [15]:
concatenated_df.to_csv("./corpus/combined.csv", index=False)